<!DOCTYPE html>

<html lang="en">
<title>Privacy Policy</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3>User Consent</h3>
    <p>You agree to this Privacy Policy, which includes full consent to the actual or possibility of collecting,
        processing, cross-border transfer and storing of Personal Information, as defined in this policy, when you sign
        up for, access, or use App - online payday cash loan lender” (the “<strong>App</strong>”), any of its
        features, processes, functions and its related services (collectively “<strong>Services</strong>”). Unless
        otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our
        Terms and Conditions.</p>
    <h3>Scope of Use</h3>
    <p>This Privacy Policy informs you of our policies on your privacy rights regarding our collection, use, storage,
        processing, disclosure and security of your information when you use the App on any device (including mobile
        devices). This Privacy Policy applies to all information we process in connection with your relationship with
        us as a customer or potential customer.</p>
    <h3>Personal Information Collection</h3>
    <p>Please note that if you use our App or Services in place of other people, such as your family, friends or
        employees, you must ensure that you are authorized to provide us with their Personal Information. Use of the
        App in this manner automatically presumes that you have obtained proper authorization from the owner/s of the
        Personal Information and have informed said person/s of this Privacy Policy. You hereby represent and warrant
        that all your family, friends or employees whose personal information you have provided to us have agreed to
        the use, processing, storage and/or disclosure of their data in accordance with this policy and all applicable
        laws.</p>
    <p>We may ask you to provide us with certain personally identifiable information that can be associated with you or
        that can be used to contact or identify you. </p>
    <p>Personally identifiable information may include, but is not limited to: a) contact information – such as your
        full name, contact number, email address, postal address, employer and employer’s business address, and other
        similar information; b) Financial Information – such as full bank account details and/or credit card details;
        and c) sensitive personal information – such as date of birth, sex, nationality, marital status, and/or
        government-issued ID details (collectively "<strong>Personal Information</strong>"). Personally identifiable
        information does not include anonymous or aggregated information in a way that does not allow to identify a
        specific person. We may also require photographs of your Personal Information, as may be applicable, during the
        application process or while the loan is still active, in order to verify all information you supplied to the
        Company.</p>
    <p>We reserve the right, with prior notice to you, to amend the type of Personal Information you may need to
        provide by adding new components or deleting existing components from our required identification procedure
        from time to time.</p>
    <p>We may also collect your Personal Information from other sources, such as any information you provide us
        directly or indirectly, including information collected that you have provided us through other related
        services, including our customer support team.</p>
    <p>We may also collect your Personal Information from any account or accounts on your mobile device subject to
        applicable laws and regulations, as such:</p>
    <ol type="a">
        <li>We may get your exact location on a real-time basis through the network and Global Positioning System (GPS)
            of your mobile device;</li>
        <li>We may be able to read or get access to your SMS/MMS/text messages;</li>
        <li>We may get access to your call logs;</li>
        <li>We may get access to your mobile device’s camera and thus, view your photos and videos, or take pictures or
            videos through your mobile device;</li>
        <li>We may get access to your Wi-Fi and other network connectivity; and</li>
        <li>We may receive such other Personal Information from the internet.</li>
    </ol>
    <p>If you choose not to provide us with any Personal Information we require from you, or if you withdraw your
        consent, at any time during your use of our Services, to the collection, processing, and/or storage of any
        Personal Information, as defined in this Privacy Policy, we reserve the right to refuse your request for, or
        the continuation of, any of our Services.</p>
    <h3>Use of Personal Information</h3>
    <p>The Personal Information we collect from you will be used to allow us to perform the Services requested from us.
        We may use your Personal Information to:</p>
    <ul>
        <li>Facilitate your use of the App’s Services, and/or access to the registration of your App account, if any;</li>
        <li>Verify your identity and contact details;</li>
        <li>Provide our Services;</li>
        <li>Process transactions and send notices about your transactions;</li>
        <li>Contact you and update you on the performance of our Services;</li>
        <li>Communicate with you and process your requests;</li>
        <li>Offer surveys, promotions, and marketing communications;</li>
        <li>Improve our App content and layout;</li>
        <li>Improve our Services;</li>
        <li>Provide electronic funds transfer services, credit card account processing and related services;</li>
        <li>Contact supplied personal references to verify accuracy of information and coordinate as to the identity
            and personal circumstances of the client;</li>
        <li>Respond to any inquiries, comments, or concerns regarding our Services;</li>
        <li>Provide Customer Support;</li>
        <li>Collection of delinquent accounts;</li>
        <li>Exercise the Company’s legal rights for the protection of its interests;</li>
        <li>Other specified and legitimate purposes determined and declared before, or as soon as reasonably
            practicable after collection of the Personal Information.</li>
    </ul>
    <p>We do not share your Personal Information with any third parties for their business purposes, such as, including
        without limitation, marketing and advertising without your express consent and authorization.</p>
    <h3>Service Providers</h3>
    <p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our
        behalf, to perform Services-related actions, to assist us in analyzing how our Service is used, or to assist us
        in the collection of delinquent accounts.</p>
    <p>These third parties have access to your Personal Information only to perform these tasks on our behalf and are
        obligated not to disclose, use, or store your Personal Information for any other purpose.</p>
    <h3>Sharing of Personal Information</h3>
    <p>We may share your Personal Information with third-parties, which includes, but is not limited to the following
        entities:</p>
    <ol type="a">
        <li>Affiliates and/or Members of our corporate family including direct and
            indirect subsidiaries, to assist in providing the Services listed in the App, to help detect and prevent
            potentially illegal acts and violations of our policies, and to provide proper data analytics on the use of
            the App, including marketing communications;</li>
        <li>Courts of Law, government officials, law enforcement, or other regulators in relation to a subpoena, court
            order, or other legal process or requirement under applicable laws or regulations, when we need to do so to
            comply with such law or regulation, or when we believe, in our sole discretion, that the disclosure of
            Personal Information is necessary to prevent physical harm or financial loss, or to report suspected
            illegal activity or investigate violations of our Terms and Conditions;</li>
        <li>Credit bureaus and collection agencies to report account information, as permitted by law.</li>
        <li>Customer support for customer service purposes;</li>
        <li>Banking or financial partners, as permitted by law or as required by the contractual business relationship;</li>
        <li>Legal department, to ensure compliance with government rules and regulations and to protect us against harm
            to the rights, property, or safety, the other users of the App or the public, as required or permitted by
            law;</li>
        <li>Service Providers, to enable service providers under contract with us to support our business operations,
            such as fraud prevention, bill collection, marketing, customer service and technology services.</li>
    </ol>
    <p>Please note that some of these third parties may be located in other countries with different rules and
        regulations on processing Personal Information. By agreeing to this Privacy Policy you acknowledge that
        Personal Information can be transferred cross-border to other countries subject to applicable laws and
        regulations and you are consenting to such transfer. </p>
    <h3>Special Notice - Minors</h3>
    <p>Use of the App is not aimed at persons under 18 years old and we will not collect, use, provide or process in
        any other form any personal information of persons under the age of 18 deliberately.</p>
    <p>We therefore also ask you, if you are under 18 years old, please do not send us your personal information (for
        example, your name, address and email address). If you are under 18 years old and you nevertheless wish to ask
        a question or use this App in anyway which requires you to submit your personal information please get your
        parent or guardian to do so on your behalf.</p>
    <h3>Accuracy of Personal Information</h3>
    <p>If you would like to review, change or delete any Personal Information you have supplied us with, please contact
        us immediately using our contact information listed below.</p>
    <h3>Personal Information Storage</h3>
    <p>We retain your Personal Information during the course of your use of our Services, and thereafter, we will
        retain such Personal Information no longer that it is necessary and relevant for our Services for the period of
        from 1 (one) to 5 (five) calendar years subject to applicable laws and regulations. We may also retain Personal
        Information to comply with the requirements of any laws and regulations, to prevent fraud, to resolve disputes
        and various troubleshoot problems, and to take other actions permitted or required by applicable laws and
        regulations. Under our data protection policies, we will dispose Personal Information in a secured manner and
        in accordance with applicable laws and regulations, after such Personal Information is no longer necessary and
        ceases to be relevant for our Services, unless applicable laws and regulations require otherwise, or unless
        requested by the user in writing.</p>
    <h3>Security</h3>
    <p>Security of your Personal Information is our priority. Except as indicated in this Privacy Policy, we do not
        disclose your Personal Information to third parties without your express consent. Further, we take all
        reasonable procedures and exert our best efforts to ensure all Personal Information received shall be kept
        confidential and secure, whether online or offline. We protect your Personal Information using a variety of
        technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access,
        disclosure and alteration. We may use and amend from time to time various security measures, as new technology
        becomes available, as appropriate, such as firewalls and data encryption, access controls to data centers. </p>
    <h3>User Confidentiality</h3>
    <p>To further secure the privacy of your Personal Information, we advise to keep your account details confidential
        at all times.</p>
    <h3>External Links</h3>
    <p>The App may contain links to other sites that are not operated by us. If you click on a third-party link, you
        will be redirected to that third party's site. We strongly advise you to review the Privacy Policy of every
        site you visit. We have no control over, and assume no responsibility for the content, privacy policies or
        practices of any third-party sites or services.</p>
    <h3>Privacy Policy Updates</h3>
    <p>We may amend this Privacy Policy at any time by posting a revised version on the App. You are advised to review
        this Privacy Policy periodically for the latest information. Changes to this Privacy Policy are effective from
        the date of posting. If we make any substantial changes to this Privacy Policy and the way in which we use your
        Personal Information, we will post these changes on the App and will do our best to notify you of any
        significant changes. By continuing to use our Services, you accept and consent to the updated terms of this
        Privacy Policy.</p>
    <h3>Inquiries and Complaints</h3>
    <p>If you believe your account or any of your personal data may have been misused or abused, or if you believe that
        the security and protection of your respective personal data may have been compromised, you may lodge your
        inquiries and complaints to the Contact Information below and briefly discuss such matter, together with your
        contact details for reference.</p>
    <p>If you are not satisfied with the manner of how your complaint was handled, or if you still believe that there
        exists a threat of breach of your Personal Information, you may directly lodge your complaint with the local
        supervising authority subject to applicable laws and regulations.</p>
</body>

</html>